body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.feeds {_background-color: yellow;}

.titles {_background-color: green;}

.article {_background-color: lightblue;}

.feeds, .titles, .article  {
  padding: 10px;
}

section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  height: 100vh;
}

.feeds {
  grid-column: 1;
  grid-row: 1;
  min-width: 300px;
  min-height: 200px;
  height: 40vh;
  overflow: auto;
}


.titles {
  grid-column: 1;
  grid-row: 2;
  min-width: 300px;
  min-height: 200px;
  height: 40vh;
  overflow: auto;
}

.article {
  grid-column: 2;
  grid-row: 1 / span 3;
}

#article_content {
  height: 100%;
}

#article_frame {
  height: 90%;
}

.feeds li, .titles li {
  cursor: pointer;
}
